<div class="content page-structure min-height-page" *ngIf="!showSpinner">
  <div class="container-cards">
    <div *ngFor="let category of categories; let i = index" class="category-section">
      <div class="title">{{ category.title }}</div>
      <div class="card" *ngFor="let product of products[i]">
        <product-card [product]="product" (click)="goToProduct(product)"></product-card>
      </div>
      <span class="no-products" *ngIf="products[i] && products[i].length === 0"> Products coming soon!</span>
    </div>
  </div>
</div>
<div class="container-spinner page-structure min-height-page" *ngIf="showSpinner">
    <mat-spinner [diameter]="100" [strokeWidth]="10"></mat-spinner>
</div>
<app-footer></app-footer>