<div class="content page-structure min-height-page">
  <div class="container-cards">
    <!--<div *ngFor="let category of categoryService.getCategories() | async" class="category-section">
      <div class="title">{{ category.title }}</div>
      <div class="card" *ngFor="let product of productService.getProducts(category.id, null, 8, null) | async">
        <product-card [product]="product"></product-card>
      </div>
    </div>-->
    <div class="card"><!-- Let card of cards...-->
      <product-card [product]="products[0]" (click)="goToProduct(products[0])"></product-card>
    </div>
    <div class="card"><!-- Let card of cards...-->
      <product-card [product]="products[1]" (click)="goToProduct(products[1])"></product-card>
    </div>
  </div>
</div>
<app-footer></app-footer>