<div class="card">
    <div class="img-card">
      <img *ngIf="!product?.idResource" src="../../../assets/images/header_example.jpg" alt="">
      <img *ngIf="product?.idResource" src="{{ content }}" alt="">
    </div>
    <div class="summary">
      <div class="title-card">
        <span>{{ product.title }}</span>
      </div>
      <div class="price-card">
        <span>{{ product.price }}</span>
        <span style="margin-left: 5px;">€</span>
      </div>
      <div class="rating-card">
        <rating [valueRating]="3"></rating>
      </div>
    </div>
  </div>
