.content {

  .list {
    overflow: hidden;
    width: 100%;


    .row {
      display: flex;
      align-items: center;
      color: gray;

      &.users {
        cursor: pointer;
        background-color: white;
        border-bottom: 1px solid #f8f8f8;
      }

      &:last-child {
        border-bottom: none;
      }
    }

    .column{
      padding: 10px 0;
      align-items: center;
      flex: 1;
    }
  }
}



.container-spinner {
  display: flex;
  align-items: center;
  justify-content: center;

  ::ng-deep mat-spinner {
      svg circle {
          stroke: #808080;
      }
  }
}
